n8n_twitter_workflow.json
{
  "name": "X/Twitter Content Posting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "a0e8f4e7-1234-4567-8901-234567890123",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:5001/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "platform",
              "value": "twitter"
            }
          ]
        },
        "options": {}
      },
      "id": "b1f9g5h8-2345-5678-9012-345678901234",
      "name": "Generate Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:5002/post",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"content\": \"{{ $json.content }}\"}",
        "options": {}
      },
      "id": "c2g0h6i9-3456-6789-0123-456789012345",
      "name": "Post to X/Twitter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "channel": "#general",
        "text": "✅ Posted to X/Twitter:\n{{ $json.text }}\n\nTweet ID: {{ $json.tweet_id }}",
        "authentication": "oAuth2",
        "otherOptions": {}
      },
      "id": "d3h1i7j0-4567-7890-1234-567890123456",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [850, 300],
      "credentials": {
        "slackOAuth2Api": {
          "id": "1",
          "name": "Slack OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content": {
      "main": [
        [
          {
            "node": "Post to X/Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to X/Twitter": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
  "id": "twitter_posting_workflow",
  "meta": {
    "instanceId": "1234567890abcdef"
  },
  "tags": []
}